@import "../generals/colors";

.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block;
    width: 100%;

    label {
      font-family: Roboto, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: $primary-30;
    }

    .wpcf7-checkbox {
      .wpcf7-list-item {
        label {
          display: flex;

          input {
            margin-right: 8px;
          }

          .wpcf7-list-item-label {
            max-width: calc(100% - 32px);
          }
        }
      }
    }
  }
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: $primary-70;
  border: 1px solid $primary-30;
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $white;

  &:focus {
    border: 2px solid $white;
  }

  //&:not(:placeholder-shown) {
  //  border-color: $white;
  //}

  &.wpcf7-not-valid {
    border-color: $danger-30;
  }

  &[type='checkbox'] {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background-image: url(../img/icons/Checkbox.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:checked {
      background-image: url(../img/icons/Checkbox-checked.svg);
    }
  }
  &[type='radio'] {
    display: inline-block;
    width: 24px;
    height: 24px;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
  }

}

.intl-tel-input {
  .selected-flag {
    .iti-flag {
      width: 14px;
      border-radius: 14px;
      transform: scale(1.3) translateX(4px);
    }
  }
}

.wpcf7-not-valid-tip {
  padding: 0 12px;
  margin-top: 8px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: $accent-60;
}

.wpcf7 form .wpcf7-response-output {
  border-radius: 12px;
  padding: 12px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}