@import "../generals/colors";

.prt-login {
  padding: 64px 0;
  @media screen and (max-width: 980px) {
    padding: 40px 0;
  }

  .login-text {
    color: $primary-10;
    margin-bottom: 8px;
    display: block;
  }

  .login-link {
    color: $accent-50;
    text-decoration: underline;
  }

  .login-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    input {
      margin-right: 12px;
      margin-bottom: 4px;
    }
  }

  .login-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .login-checkbox {
      width: 100%;
      margin-bottom: 8px;
    }

    .secondary {
      background-color: transparent;
      color: $accent-50;
    }
  }

  .login-block {
    &.hidden {
      display: none;
    }
  }

  .login-switcher {
    margin-left: 8px;
    //color: $accent-50;
    //text-decoration: underline;
  }

  &__wrap {
    max-width: 600px;
    margin: auto;

    .form-row {
      margin-bottom: 16px;
    }
  }
}