@import "../generals/colors";

.success-order {
  padding: 100px 0;
  @media screen and (max-width: 980px) {
    padding: 40px 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      margin-bottom: 40px;
      max-width: 100%;
      @media screen and (max-width: 980px) {
        margin-bottom: 24px;
      }
    }

    .title {
      color: $white;
      margin-bottom: 16px;
      text-align: center;
    }

    .text {
      color: $primary-10;
      margin-bottom: 24px;
      text-align: center;
      @media screen and (max-width: 980px) {
        margin-bottom: 16px;
      }
    }
  }
}